header {
    color:#5e9eff;
    background-color:#0085f230;

    font-weight: bold;
    font-size: 2rem;
    line-height: 2;

    text-align:center;

    /*margin: 0.5em;*/
}


h2 {
    margin-left:80px;
}

.nav_label {
    padding: 3px;
    border:1px solid LightSalmon;
    border-radius: 5px;
    background-color: PeachPuff;
}

.nav_dropdown {
    width: 200px;
    padding: 0.4em;
	padding-bottom: 2em;
}

.nav_radio {
    width: 140px;
    padding: 0.4em;
	padding-bottom: 2em;
}

.nav_tabs {
	margin-right:20px;
}

.chart {
    width: 1200px;
    height: 600px;
}


.chart_tall {
    width: 1200px;
    height: 1200px;
}

.chart_container {
    margin:5px;
    padding-bottom: 50px;
    border-bottom:1px solid Gainsboro;
}


.navigation {
    width: 200px;
	padding:20px;
	margin:5px;
	border-right:1px solid Gainsboro;
	background-color: #F8F8F8;
}

.aside {
    position: fixed;
    right: 0;
    top: 0;
    width: 150px;
    height: 100vh;

	padding:5px;
	margin: 10px;
	margin-top:80px;
	overflow-y: auto;

	border-left:1px solid Gainsboro;
	background-color: #F8F8F8;

	text-align: center;
}

.aside_item {
    margin: 10px;
}

.table {
    width: 500;
}

'text-align': 'center', 'align-items': 'center'